<h1>Bienvenido a HCC</h1>
<p>Tu historial clinico</p>
<p>Nombre: {{historial.user_clinte.first_name}}</p>
<p>Apellido: {{historial.user_clinte.last_name}}</p>
<p>Fecha nacimiento: {{historial.user_clinte.fechaNacimiento}}</p>
<p>Genero: {{historial.user_clinte.sexo}}</p>
<hr>
<p>Acudido por el Doctor@ {{historial.user_doctor.first_name}} {{historial.user_doctor.last_name}}</p>
<p>En la fecha {{historial.fecha_actualizacion}}</p>
<h3>Informe</h3>
<p>Enfermedades previas: {{historial.enfermedades_previas}}</p>
<p>Medicamentos: {{historial.medicamentos}}</p>
<p>Alergeias: {{historial.alergias}}</p>
<p>Examenes realizados: {{historial.examenes_realizados}}</p>